.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--cor-primaria);
    height: 55px;
    width: 100vw;
}

.container .container__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .container__content a {
    display: flex;
    padding: 72px;
    text-decoration: none;
    color: var(--cor-branca);
}

